{% load static %} <!-- staticfiles -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Online Static -->
    {% comment %} <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">}
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/main.css'%}">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- MathJax -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script> {% endcomment %}

    <!-- Offline Static -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'quiz/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/main.css' %}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'quiz/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'quiz/popper.js-1.14.7/dist/poppper.js' %}"></script>
    <script type="text/javascript" src="{% static 'quiz/bootstrap.js' %}"></script>
    <!-- MathJax -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
    });
    </script>
    <script type="text/javascript" src="{% static 'quiz/MathJax/MathJax.js' %}"></script>


    <!-- Title -->
    {% if title %}
        <title>ClassQuiz- {{ title }}</title>
    {% else %}
        <title>ClassQuiz</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'quiz-home' %}">ClassQuiz</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        {% comment %} <a class="nav-item nav-link" href="{% url 'quiz-home' %}">Home</a> {% endcomment %}
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                            <!-- Quiz Dropdown Menu -->
                            <a class="nav-item nav-link" href="{% url 'quiz-create' %}">Create New</a>
                            <a class="nav-item nav-link" href="{% url 'user-quiz' user.username %}">Quizzes</a>
                            <a class="nav-item nav-link" href="{% url 'quiz-results' %}">Results</a>
                            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Content -->
    <main role="main" class="container">
        <div class="row align-items-center">
            <div class="col-md-9 mx-auto">
                {% if messages %}
                    {% for messages in messages %}
                        <div class="alert alert-{{ messages.tags }}">
                            {{ messages }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>

    </body>
</html>




