{% extends "quiz/base.html" %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-signin my-3">
                <div class="card-body">
                <!-- Author / Options -->
                <article class="media">
                    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'user-quiz' object.author.username %}">{{ object.author }}</a>
                            <small class="text-muted">{{ object.date_created|date:"F d, Y" }}</small>    <!-- see DJANGO date formatting template documentation -->
                            {% if object.author == user %}
                                <a class="btn btn-outline-danger btn-sm mt-1 mb-1 mr-1" href="{% url 'quiz-delete' object.id %}">Delete</a>
                                <a class="btn btn-outline-secondary btn-sm mt-1 mb-1 mr-1" href="{% url 'quiz-edit' object.id %}">Edit</a>
                                <button class="btn btn-outline-info btn-sm mt-1 mb-1" type="button" onClick=="goFullscreen()" id="start_btn">Start</button>
                            {% endif %}
                        </div>
                    </div>
                </article>
                <!-- Quiz -->
                <article class="media quiz-content-section align-items-center" id="myQuiz">
                    <div class="media-body">
                        <div class="row justify-content-center">
                            <div class="container">
                                <div class="row justify-content-center align-items-center mb-5">
                                    <h2 class="article-title">{{ object.question }}</h2>
                                </div>
                            </div>
                            {% if quiz.image != "no_image.jpg" %}
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <img class="quiz-show-img" src="{{ object.image.url }}">
                                    </div>
                                </div>
                            {% endif %}
                            <div class="container">
                                <div class="row justify-content-center align-items-center mt-5">
                                    <div class="col-sm">
                                        <div class="col text-left"><b>a)  </b> {{ object.ansA }}</div>
                                        <div class="col text-left"><b>b)  </b> {{ object.ansB }}</div>
                                        <div class="col text-left"><b>c)  </b> {{ object.ansC }}</div>
                                        <div class="col text-left"><b>d)  </b> {{ object.ansD }}</div>
                                        <div class="col text-left"><b>e)  </b> {{ object.ansE }}</div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="col text-center font-weight-bold display-1"> <span id="time">{{ object.duration }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                </div>
                </div>
            </div>
        </div>
        
        <!-- Go Fullscreen - JavaScript function -->
        <script>
            document.getElementById("start_btn").addEventListener("click", function goFullscreen() {
                var elem = document.getElementById("myQuiz");
                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } 
                else if (elem.msRequestFullscreen) {
                    elem.msRequestFullscreen();
                } 
                else if (elem.mozRequestFullScreen) {
                    elem.mozRequestFullScreen();
                } 
                else if (elem.webkitRequestFullscreen) {
                    elem.webkitRequestFullscreen();
                }
            });
        </script>

        <!-- Timer - JavaScript Function -->
        <script>
        function startTimer(duration, display) {
            var start = Date.now(),
                diff,
                minutes,
                seconds;
            function timer() {
                // get the number of seconds that have elapsed since 
                // startTimer() was called
                diff = duration - (((Date.now() - start) / 1000) | 0);

                if (diff <= 0) {
                    diff = 0;
                }
                display.textContent = diff;
            };
            // we don't want to wait a full second before the timer starts
            timer();
            setInterval(timer, 1000);
        }

        document.getElementById("start_btn").addEventListener("click", function () {
            var timeRemaining = {{ object.duration }},
                display = document.querySelector('#time');
            startTimer(timeRemaining, display);
        });
        </script>

    </main>
{% endblock content %}