{% extends "blog/base.html" %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    {% for messages in messages %}
                        <div class="alert alert-{{ messages.tags }}">
                            {{ messages }}
                        </div>
                    {% endfor %}
                {% endif %}
                <article class="media content-section align-items-center" id="myQuiz">
                    <div class="media-body">
                        <!-- Quiz -->
                        <div class="row justify-content-center">
                            <div class="container">
                                <div class="row justify-content-center align-items-center">
                                    <h2 class="article-title">{{ object.question }}</h2>
                                </div>
                            </div>
                            {% if quiz.image != "no_image.jpg" %}
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <img class="quiz-detail-img" src="{{ object.image.url }}">
                                    </div>
                                </div>
                            {% endif %}
                            <div class="container">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-sm">
                                        <div class="col text-left"><b>a)  </b> {{ object.ansA }}</div>
                                        <div class="col text-left"><b>b)  </b> {{ object.ansB }}</div>
                                        <div class="col text-left"><b>c)  </b> {{ object.ansC }}</div>
                                        <div class="col text-left"><b>d)  </b> {{ object.ansD }}</div>
                                        <div class="col text-left"><b>e)  </b> {{ object.ansE }}</div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="col text-center font-weight-bold display-1">{{ object.duration }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="btn btn-outline-info btn-block" type="button" onClick=="goFullscreen()" id="start_btn">Start</button>
        <!-- Go Fullscreen - JavaScript function -->
        <script>
            document.getElementById("start_btn").addEventListener("click", function goFullscreen() {
                var elem = document.getElementById("myQuiz");
                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } 
                else if (elem.msRequestFullscreen) {
                    elem.msRequestFullscreen();
                } 
                else if (elem.mozRequestFullScreen) {
                    elem.mozRequestFullScreen();
                } 
                else if (elem.webkitRequestFullscreen) {
                    elem.webkitRequestFullscreen();
                }
            });
        </script>
    </main>
{% endblock content %}




