{% extends "quiz/base.html" %}
{% block content %}
{% csrf_token %}
    <main role="main" class="container-flex">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-signin my-3">
                    <div class="card-body">

                        <!-- Author-->
                        <div class="media">
                            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <a class="mr-2" href="{% url 'user-quiz' object.author.username %}">{{ object.author.first_name }} {{ object.author.last_name }}</a>
                                    <small class="text-muted">{{ object.date_created|date:"F d, Y" }}</small>    <!-- see DJANGO date formatting template documentation -->
                                    <!-- Options -->
                                    {% if object.author == user %}
                                        <a class="btn btn-outline-danger btn-sm mt-1 mb-1 mr-1" href="{% url 'quiz-delete' object.id %}">Delete</a>
                                        <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'quiz-edit' object.id %}">Edit</a>
                                    {% endif %}
                                    <button class="btn btn-outline-info btn-sm mt-1 mb-1 ml-1 mr-1" type="button" onClick=="showDetail()" id="show_btn">Show</button>
                                    {% if object.author == user %}
                                        <button class="btn btn-outline-success btn-sm mt-1 mb-1" type="button" onClick=="goFullscreen()" style="visibility: visible;" id="start_btn">Start</button>
                                    {% endif %}
                                    <h2 class="article-title">{{ quiz.title }}</h2>
                                </div>
                            </div>
                        </div>

                        <!-- DETAIL -->
                        <!-- Quiz -->
                        <div class="container align-items-start bg-white" id="quiz_detail" style="display: none;"> <!-- align-items-center -->
                            <div class="row justify-content-center">  <!-- quiz-body  -->
                                <!-- Question -->
                                <div class="container">
                                    <div class="row justify-content-center" style="margin-top: 1.5vh;">
                                        <div class="col text-center font-weight-bold question-text">{{ object.question }}</div>
                                    </div>
                                </div>
                                <!-- Image -->
                                {% if quiz.image != "no_image.jpg" %}
                                    <div class="container">
                                        <div class="row justify-content-center quiz-detail-img" style="margin-top: 1.5vh;">
                                            <img class="quiz-show-img" src="{{ object.image.url }}">
                                        </div>
                                    </div>
                                {% endif %}
                                <!-- Answers / Timer -->
                                <div class="container">
                                    <div class="row justify-content-start align-items-center" style="margin-top: 1.5vh;">
                                        <!-- Answers -->
                                        <div class="col">
                                            <div class="text-left ans-text2"><b>a)    </b>{{ object.ansA }}</div>
                                            <div class="text-left ans-text2"><b>b)    </b>{{ object.ansB }}</div>
                                            <div class="text-left ans-text2"><b>c)    </b>{{ object.ansC }}</div>
                                            <div class="text-left ans-text2"><b>d)    </b>{{ object.ansD }}</div>
                                            <div class="text-left ans-text2"><b>e)    </b>{{ object.ansE }}</div>
                                        </div>
                                        <!-- Timer -->
                                        <div class="col">
                                            <div class="text-center font-weight-bold timer-text">{{ object.duration }}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- FULLSCREEN -->
        <!-- Quiz -->
        <div class="container align-items-start bg-white" style="display: none;" id="myQuiz"> <!-- align-items-center -->
            <div class="row justify-content-center">  <!-- quiz-body  -->
                <!-- Question -->
                <div class="container" id="quiz_question">
                    <div class="row justify-content-center" style="margin-top: 4vh;">
                        <div class="col text-center font-weight-bold question-text2" style="height: 15vh; word-wrap: break-word;">{{ object.question }}</div>
                    </div>
                </div>
                <!-- GIANT BUTTON -->

                    <div class="center" id="btn_footer">
                        <button class="btn btn-outline-info btn-huge mb-1 mr-1" type="button" id="play_btn">Play</button>
                    </div>

                <!-- Image -->
                <div class="container" id="quiz_img">
                    <div class="row justify-content-center quiz-detail-img" style="margin-top: 1vh;">
                        {% if quiz.image != "no_image.jpg" %}
                            <img class="quiz-show-img" src="{{ object.image.url }}">
                        {% endif %}
                    </div>
                </div>
                <!-- Answers / Timer -->
                <div class="container" id="quiz_ans_timer">
                    <div class="row justify-content-start align-items-center" style="margin-top: 1vh; margin-bottom: 1vh;">
                        <!-- Answers -->
                        <div class="col-sm" style="height: 25vh;">
                            <div class="col ans-text3 text-left" style="height: 5vh; word-wrap: break-word;"><b>a)    </b>{{ object.ansA }}</div>
                            <div class="col ans-text3 text-left" style="height: 5vh; word-wrap: break-word;"><b>b)    </b>{{ object.ansB }}</div>
                            <div class="col ans-text3 text-left" style="height: 5vh; word-wrap: break-word;"><b>c)    </b>{{ object.ansC }}</div>
                            <div class="col ans-text3 text-left" style="height: 5vh; word-wrap: break-word;"><b>d)    </b>{{ object.ansD }}</div>
                            <div class="col ans-text3 text-left" style="height: 5vh; word-wrap: break-word;"><b>e)    </b>{{ object.ansE }}</div>
                        </div>
                        <!-- Timer -->
                        <div class="row justify-content-end">
                            <div class="col text-center font-weight-bold timer-text2"><span id="time">{{ object.duration }}</span></div>
                            <div class="col text-center font-weight-bold timer-text2" style="display: none;"><span id="time2">{{ object.duration }}</span></div>
                        </div>
                    </div>
                </div>
                <!-- Footer Buttons -->
                {% comment %}
                <div class"container">
                    <div class="quiz-footer" id="btn_footer">
                        <button class="btn btn-outline-info btn-sm mb-1 mr-1" type="button" id="play_btn">Play</button>
                    </div>
                </div>
                {% endcomment %}
            </div>
        </div>

        <!-- Toggle Detail - JavaScript Function -->
        <script>
            document.getElementById("show_btn").addEventListener('click', function showDetail(){
                if (document.getElementById("quiz_detail").style.display == "none") {
                    document.getElementById("quiz_detail").style.display = "block";
                }
                else {
                    document.getElementById("quiz_detail").style.display = "none";
                }
            });
        </script>
       
        <!-- Go Fullscreen - JavaScript Function -->
        <script>
            document.getElementById("start_btn").addEventListener("click", function goFullscreen() {
                var elem = document.getElementById("myQuiz");
                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } 
                else if (elem.msRequestFullscreen) {
                    elem.msRequestFullscreen();
                } 
                else if (elem.mozRequestFullScreen) {
                    elem.mozRequestFullScreen();
                } 
                else if (elem.webkitRequestFullscreen) {
                    elem.webkitRequestFullscreen();
                }

                document.getElementById("btn_footer").style.display = "block";
                document.getElementById("myQuiz").style.display = "block";
                document.getElementById("quiz_question").style.display = "none";
                document.getElementById("quiz_img").style.display = "none";
                document.getElementById("quiz_ans_timer").style.display = "none";
            });
        </script>

        <!-- Esc Pressed / Fullscreen Exit - JavaScript Function -->
        <script>
            document.addEventListener("fullscreenchange", function(event) {
                if (document.fullscreenElement) {
                    // Window is in fullscren. Do nothin.
                }
                else {
                    document.getElementById("btn_footer").style.display = "none";
                    document.getElementById("myQuiz").style.display = "none";
                }
            });
        </script>

        <!-- Timer - JavaScript Function -->
        <script>
            function startTimer(duration, display) {
                var start = Date.now(),
                    diff,
                    minutes,
                    seconds;
                function timer() {
                    // get the number of seconds that have elapsed since 
                    // startTimer() was called
                    diff = duration - (((Date.now() - start) / 1000) | 0);

                    if (diff < 0) { // <= OR < to fix the last second answer issue
                        diff = 0;           
                    }
                    display.textContent = diff;
                };
                // we don't want to wait a full second before the timer starts
                timer();  // comment OR uncomment to fix the last second answer issue
                time = setInterval(timer, 1000);
            }

            // give 3 extra seconds to receive answers
            function startTimer2(duration, display) {
                var start = Date.now(),
                    diff,
                    minutes,
                    seconds;
                function stopTimer() {
                    $.ajax({
                        type: "POST",
                        url: "stop_quiz/",
                        data: { 'id': '{{ object.id }}', 'start_date': '{{ object.start_date }}', 'right_ans': '{{ object.right_ans }}' },
                        dataType: 'json',
                        success: function(data, textStatus) {
                            console.log(data);
                        }
                    });

                    console.log("time's up!");
                    clearInterval(time);
                }
                function timer() {
                    // get the number of seconds that have elapsed since 
                    // startTimer() was called
                    diff = duration - (((Date.now() - start) / 1000) | 0);

                    if (diff <= 0) { // -1 or 0 (on both lines), < or <=
                        diff = 0;  
                        stopTimer();                
                    }
                    display.textContent = diff;
                };
                // we don't want to wait a full second before the timer starts
                timer();  // comment OR uncomment to fix the last second answer issue
                time = setInterval(timer, 1000);
            }

            /* Play_btn*/
            document.getElementById("play_btn").addEventListener("click", function () {
                //document.getElementById("play_btn").disabled = true;
                document.getElementById("play_btn").style.display = "none";
                document.getElementById("quiz_question").style.display = "block";
                document.getElementById("quiz_img").style.display = "block";
                document.getElementById("quiz_ans_timer").style.display = "block";
                $.ajax({
                    type: "POST",
                    url: "start_quiz/",
                    data: { 'id': '{{ object.id }}', 'start_date': '{{ object.start_date }}', 'right_ans': '{{ object.right_ans }}' },
                    dataType: 'json',
                    success: function(data, textStatus) {
                        console.log(data);
                    }
                });
                
                var timeRemaining = {{ object.duration }},
                    display = document.querySelector('#time');
                startTimer(timeRemaining, display);

                var timeRemaining2 = {{ object.duration }},
                    display2 = document.querySelector('#time2');
                startTimer2(timeRemaining2, display2);
                
            });
        </script>

    </main>
    {% block autoplay %}
    {% endblock autoplay %}
{% endblock content %}