{% extends "quiz/base.html" %}
{% block content %}
    <main role="main" class="container-flex">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-signin my-3">
                <div class="card-body">
                <!-- Author-->
                <article class="media">
                    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'user-quiz' object.author.username %}">{{ object.author }}</a>
                            <small class="text-muted">{{ object.date_created|date:"F d, Y" }}</small>    <!-- see DJANGO date formatting template documentation -->
                            <!-- Options -->
                            {% if object.author == user %}
                                <a class="btn btn-outline-danger btn-sm mt-1 mb-1 mr-1" href="{% url 'quiz-delete' object.id %}">Delete</a>
                                <a class="btn btn-outline-secondary btn-sm mt-1 mb-1 mr-1" href="{% url 'quiz-edit' object.id %}">Edit</a>
                                <button class="btn btn-outline-info btn-sm mt-1 mb-1" type="button" onClick=="goFullscreen()" id="start_btn">Start</button>
                            {% endif %}
                        </div>
                    </div>
                </article>
                <!-- Quiz -->
                <article class="media quiz-content-section align-items-start quiz-body" id="myQuiz"> <!-- align-items-center -->
                    <div class="media-body">
                        <div class="row justify-content-center quiz-body bg-steel"> 
                            <!-- Question -->
                            <div class="container">
                                <div class="row justify-content-center my-3 bg-pink">
                                    <h2 class="article-title">{{ object.question }}</h2>
                                </div>
                            </div>
                            <!-- Image -->
                            <div class="container">
                                <div class="row justify-content-center quiz-show-img  bg-cyan">
                                    {% if quiz.image != "no_image.jpg" %}
                                        <img class="quiz-show-img" src="{{ object.image.url }}">
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Answers / Timer -->
                            <div class="container">
                                <div class="row justify-content-start align-items-center mt-3 bg-green">
                                    <!-- Answers -->
                                    <div class="col-sm">
                                        <div class="col ans-text text-left bg-steel-2"><b>a)    </b>{{ object.ansA }}</div>
                                        <div class="col ans-text text-left bg-steel-2"><b>b)    </b>{{ object.ansB }}</div>
                                        <div class="col ans-text text-left bg-steel-2"><b>c)    </b>{{ object.ansC }}</div>
                                        <div class="col ans-text text-left bg-steel-2"><b>d)    </b>{{ object.ansD }}</div>
                                        <div class="col ans-text text-left bg-steel-2"><b>e)    </b>{{ object.ansE }}</div>
                                    </div>
                                    <!-- Timer -->
                                    <div class="row justify-content-end bg-dark-green">
                                        <div class="col text-center font-weight-bold display-1"><span id="time">{{ object.duration }}</span></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Footer Buttons -->
                            <div class"container">
                                <div class="quiz-footer bg-red" id="btn_footer">
                                    <button class="btn btn-outline-info btn-sm mb-1 mr-1" type="button" id="play_btn">Play</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                </div>
                </div>
            </div>
        </div>
        
        <!-- Go Fullscreen - JavaScript function -->
        <script>
            document.getElementById("start_btn").addEventListener("click", function goFullscreen() {
                var elem = document.getElementById("myQuiz");
                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } 
                else if (elem.msRequestFullscreen) {
                    elem.msRequestFullscreen();
                } 
                else if (elem.mozRequestFullScreen) {
                    elem.mozRequestFullScreen();
                } 
                else if (elem.webkitRequestFullscreen) {
                    elem.webkitRequestFullscreen();
                }

                document.getElementById("btn_footer").style.visibility = "visible";
            });
        </script>

        <!-- Esc Pressed / Fullscreen Exit - JavaScript function -->
        <script>
            document.addEventListener("fullscreenchange", function(event) {
                if (document.fullscreenElement) {
                    // Window is in fullscren. Do nothin.
                }
                else {
                    document.getElementById("btn_footer").style.visibility = "hidden";
                }
            });
        </script>

        <!-- Timer - JavaScript Function -->
        <script>
        function startTimer(duration, display) {
            var start = Date.now(),
                diff,
                minutes,
                seconds;
            function timer() {
                // get the number of seconds that have elapsed since 
                // startTimer() was called
                diff = duration - (((Date.now() - start) / 1000) | 0);

                if (diff <= 0) {
                    diff = 0;
                }
                display.textContent = diff;
            };
            // we don't want to wait a full second before the timer starts
            timer();
            setInterval(timer, 1000);
        }

        document.getElementById("play_btn").addEventListener("click", function () {
            var timeRemaining = {{ object.duration }},
                display = document.querySelector('#time');
            startTimer(timeRemaining, display);
        });
        </script>

    </main>
    {% block autoplay %}
    {% endblock autoplay %}
{% endblock content %}