{% extends "quiz/base.html" %}
{% block content %}
    <h1 class="mb-3">Quizzes by {{ view.kwargs.username }}</h1>
    <!-- Filter / Search -->
    <div class="row searchFilter">
    <div class="col-sm-12">
    <div class="input-group">
    <input type="text" id="myFilter" class="form-control" onkeyup="filterFunction()" placeholder="Search...">
        <div class="nav-item dropdown">
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="label-icon"></span>
                <span class="caret">&nbsp;</span>
            </button>
            <div class="dropdown-menu">
                <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-light active">
                        <input type="radio" name="options" id="courseFilter" autocomplete="off" checked> Course
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="options" id="questionFilter" autocomplete="off"> Question
                    </label>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- Quizzes -->
    <div id="myItems">
    {% for quiz in quizzes %}
        <div class="card card-signin my-3">
            <div class="card-body">
                <article class="media">
                    <img class="rounded-circle article-img" src="{{ quiz.image.url }}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'user-quiz' quiz.author.username %}">{{ quiz.author }}</a>
                            <small class="text-muted">{{ quiz.date_created|date:"F d, Y" }}</small>    <!-- see DJANGO date formatting template documentation -->
                        </div>
                        <h2><a class="article-title" href="{% url 'quiz-detail' quiz.id %}">{{ quiz.question }}</a></h2>
                        <p class="article-content">{{ quiz.course }}</p>
                    </div>
                </article>
            </div>
        </div>
    {% endfor %}
    </div>
    <!-- Filter by 'course' - JavaScript function -->
    <script>
        function filterFunction() {
            var input, filter, cards, cardContainer, p, title, i;
            input = document.getElementById("myFilter");
            filter = input.value.toUpperCase();
            cardContainer = document.getElementById("myItems");
            cards = cardContainer.getElementsByClassName("card");
            /* Course */
            if(document.getElementById("courseFilter").checked == true) {
                for (i = 0; i < cards.length; i++) {
                    title = cards[i].querySelector(".card-body p.article-content");
                    if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                        cards[i].style.display = "";
                    } else {
                        cards[i].style.display = "none";
                    }
                }
            }
            /* Question */
            if(document.getElementById("questionFilter").checked == true) {
                for (i = 0; i < cards.length; i++) {
                    title = cards[i].querySelector(".card-body a.article-title");
                    if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                        cards[i].style.display = "";
                    } else {
                        cards[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <!-- Pagination -->
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}